language: node_js
node_js:
  - 12

services:
  - docker

# Prétester les installations
install:
  - echo "nothing needs to be installed"

# Scripts à exécuter en guise de tests
before_script:
  - echo "no tests"

script:
  - docker --version # print the version for logging
  - docker build -t udagram-api-user ./udagram_api_user
  - docker tag udagram-api-user segbegnon/udagram-api-user:latest
  - docker build -t udagram-api-feed ./udagram_api_feed
  - docker tag udagram-api-feed segbegnon/udagram-api-feed:latest
  - docker build -t reverseproxy ./reverseproxy
  - docker tag reverseproxy segbegnon/reverseproxy:latest
  - docker build -t udagram-frontend ./udagram_frontend
  - docker tag udagram-frontend segbegnon/udagram-frontend:latest

# Tâches à effectuer après la réussite du processus. Le formatage du nom d'utilisateur et du mot de passe Docker comme indiqué ci-dessous vous permet de vous connecter par programmation sans que le mot de passe soit exposé dans les journaux.
after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push segbegnon/udagram-api-user
  - docker push segbegnon/udagram-api-feed
  - docker push segbegnon/reverseproxy
  - docker push segbegnon/udagram-frontend
